Getting active site information from protein sequence and position of active site

In [ ]:
import pandas as pd
import numpy as np

In [2]:
df_raw = pd.read_csv('active_site_annotation.tab', sep='\t', lineterminator='\n')
df_raw = df_raw.fillna('')
print 'Number of entries: ', len(df_raw)
df_raw = df_raw[df_raw['Length']<400] 
print 'Number of entries (len < 400): ', len(df_raw)
df_raw = df_raw.reset_index().drop('index',axis=1)

Number of entries:  67250
Number of entries (len < 400):  41862

In [3]:
df_active_site = pd.DataFrame(
    columns=['Entry','Entry name','Organism','Length','Active site num','Active site type','Active site residue', 'Sequence', 'UniRep'])
# df_active_site

In [4]:
def get_act_num_type(act_str):
    act_type_found = False
    act_type = 0
    for act_site_type in act_site_type_codes.keys():
        if act_site_type in act_str:
            act_site = int(act_str.split(';')[0].strip())
#             print int(act_site.strip())
            act_type = act_site_type_codes[act_site_type]
            act_type_found = True
    if act_type_found:
        return act_site, act_type
    else:
        return None, None

def get_aa_from_seq(seq, aa_num):
    aa_names = []
    lst_seq = list(seq)
    return lst_seq[aa_num-1]

act_site_type_codes = {'Charge relay system':1,
                       'Nucleophile':2,
                       'Electrophile':3,
                       'Proton donor':4,
                       'Proton acceptor':5}

In [5]:
for idx, row in df_raw.iterrows():
#     print get_act_num_type(act_strs[1])
    act_strs = row['Active site']
    act_strs = act_strs.split('ACT_SITE')
    act_strs = [x for x in act_strs if len(x)>1]
    if (idx % 1000 ==0): print 'Row num: ',idx
    for act_str in act_strs:
        act_site, act_type =  get_act_num_type(act_str)
        if not (act_site == None or act_type == None):
            pd_series = df_raw.iloc[idx][['Entry','Entry name','Organism','Length','Sequence']]
#             print pd_series
            add_series = pd.Series([act_site,act_type],index=['Active site num','Active site type'])
            pd_series =  pd_series.append(add_series)
#             print pd_series
            df_active_site = df_active_site.append(pd_series, ignore_index=True)

Row num:  0
Row num:  1000
Row num:  2000
Row num:  3000
Row num:  4000
Row num:  5000
Row num:  6000
Row num:  7000
Row num:  8000
Row num:  9000
Row num:  10000
Row num:  11000
Row num:  12000
Row num:  13000
Row num:  14000
Row num:  15000
Row num:  16000
Row num:  17000
Row num:  18000
Row num:  19000
Row num:  20000
Row num:  21000
Row num:  22000
Row num:  23000
Row num:  24000
Row num:  25000
Row num:  26000
Row num:  27000
Row num:  28000
Row num:  29000
Row num:  30000
Row num:  31000
Row num:  32000
Row num:  33000
Row num:  34000
Row num:  35000
Row num:  36000
Row num:  37000
Row num:  38000
Row num:  39000
Row num:  40000
Row num:  41000

In [11]:
for idx, row in df_active_site.iterrows():
    if (idx%1000==0): print idx
    num = df_active_site.iloc[idx]['Active site num']
    seq = df_active_site.iloc[idx]['Sequence']
    df_active_site.iloc[idx]['Active site residue'] = get_aa_from_seq(seq, num)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000

In [12]:
df_active_site[:15]

,Entry,Entry name,Organism,Length,Active site num,Active site type,Active site residue,Sequence,UniRep
0,O35815,ATX3_RAT,Rattus norvegicus (Rat),355,14,2,C,MESIFHEKQEGSLCAQHCLNNLLQGEYFSPVELSSIAHQLDEEERL...,NaN
1,O35815,ATX3_RAT,Rattus norvegicus (Rat),355,119,5,H,MESIFHEKQEGSLCAQHCLNNLLQGEYFSPVELSSIAHQLDEEERL...,NaN
2,O94760,DDAH1_HUMAN,Homo sapiens (Human),285,173,4,H,MAGLGHPAAFGRATHAVVRALPESLGQHALRSAKGEEVDVARAERQ...,NaN
3,O94760,DDAH1_HUMAN,Homo sapiens (Human),285,274,2,C,MAGLGHPAAFGRATHAVVRALPESLGQHALRSAKGEEVDVARAERQ...,NaN
4,Q540U1,APHA_SALTM,Salmonella typhimurium,237,69,2,D,MKKITLALSAVCLLFTLNHSANALVSSPSTLNPGTNVAKLAEQAPV...,NaN
5,Q540U1,APHA_SALTM,Salmonella typhimurium,237,71,4,D,MKKITLALSAVCLLFTLNHSANALVSSPSTLNPGTNVAKLAEQAPV...,NaN
6,Q9D020,5NT3A_MOUSE,Mus musculus (Mouse),331,83,2,D,MDRAAVARVGAVASASVCAVVAGVVLAQYIFTLKRKTGRKTKIIEM...,NaN
7,Q9D020,5NT3A_MOUSE,Mus musculus (Mouse),331,85,4,D,MDRAAVARVGAVASASVCAVVAGVVLAQYIFTLKRKTGRKTKIIEM...,NaN
8,C0JAX7,A1MA4_LOXDE,Loxosceles deserta (Desert recluse spider),273,41,2,H,WIMGHMVNAIAQIDEFVNLGANSIETDVSFDKNANPEYTYHGIPCG...,NaN
9,C0JB21,A41_LOXRU,Loxosceles rufescens (Mediterranean recluse sp...,275,41,2,H,WIMGHMVNEIYQIDEFVDLGANSIETDVRFDDNAMAEYTFHGVPCD...,NaN
10,Q8P2X6,ACKA_STRP8,Streptococcus pyogenes serotype M18 (strain MG...,398,146,4,D,MSKTIAINAGSSSLKWQLYQMPEEEVLAQGIIERIGLKDSISTVKY...,NaN
11,A4USB4,A51_LOXIN,Loxosceles intermedia (Brown spider),307,74,2,H,MLCFFVLFFCCGTVLLEGADIDEIEHADKRRPIWNMGHMVNAVYQI...,NaN
12,Q49YE2,ACKA_STAS1,Staphylococcus saprophyticus subsp. saprophyti...,399,147,4,D,MSKLILAINAGSSSLKFQLIEMPEEKIVTKGLIERIGLKDSVFTIE...,NaN
13,P63414,ACKA_STRR6,Streptococcus pneumoniae (strain ATCC BAA-255 ...,396,146,4,D,MTKTIAINAGSSSLKWQLYLMPEEKVLAKGLIERIGLKDSISTVKF...,NaN
14,Q5ZJX1,AB17C_CHICK,Gallus gallus (Chicken),310,192,1,S,MPEQGPRMNGFSLGELCWLFCCPPCPSRIAAKLAFLPPEPTYTVLP...,NaN

In [13]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('active_site_annotation.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df_active_site.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [15]:
df_test = pd.read_excel('active_site_annotation.xlsx',header=[0],index_col=[0])
df_test.describe()

             Length  Active site num  Active site type  UniRep
count  56097.000000     56097.000000      56097.000000     0.0
mean     277.855982       131.593222          3.722695     NaN
std       68.447771        77.871176          1.375063     NaN
min        9.000000         2.000000          1.000000     NaN
25%      238.000000        71.000000          2.000000     NaN
50%      275.000000       123.000000          4.000000     NaN
75%      332.000000       180.000000          5.000000     NaN
max      399.000000       391.000000          5.000000     NaN